{% load static %}


{% if "http://localhost:8000/orders/" in request.build_absolute_uri %}

    <div class="card w-100 mb5">
         <div class="row g-0">
            <div class="col-md-6 d-flex justify-center">
                <img src="{{ unit.image }}"  >
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{ unit.name }} </h5>
                    <p class="card-text">Телефон: {{ unit.phone }}</p>
                    <div class="form-group">
                        <label class="form-label">Нужно совещание?</label>
                        {% if unit.meeting %}
                            <input disabled type="text" class="form-control" style="width: 150px" value="Да">
                        {% else %}
                            <input disabled type="text" class="form-control" style="width: 150px" value="Нет">
                        {% endif %}
                    </div>
                    <a href="/units/{{ unit.id }}/" class="btn btn-primary" style="width: 100px">
                        Открыть
                    </a>
                </div>
            </div>
         </div>
    </div>

{% else %}

    <div class="card">
        <img src="{{ unit.image }}" class="unit-preview" alt=""/>
        <div class="card-body" >
            <div class="card-info">
                <h5 class="card-title">{{ unit.name }}</h5>
                <p class="card-text">Телефон: {{ unit.phone }}</p>
            </div>
            <div class="card-btns">
                <a href="/units/{{ unit.id }}/" class="btn btn-primary center">
                    Открыть
                </a>
            </div>
        </div>
    </div>

{% endif %}




