{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container unit-page">

        <div class="row">
            <div class="col-6">
                <img src="{{ unit.image }}" class="unit-image" alt=""/>
            </div>
            <div class="col-6 d-flex flex-md-column gap-md-3">

                <h1>{{ unit.name }}</h1>

                <span>Телефон: {{ unit.phone }}</span>

                {% autoescape on %}
                    <b>Основные функции</b>
                    <span>{{ unit.description | linebreaksbr }}</span>
                {% endautoescape %}

                <a href="/" class="btn btn-primary my-4 w-25">
                    Домой
                </a>

            </div>
        </div>

    </main>
{% endblock content %}