{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container">
        <h3  class="text-center">Черновой приказ</h3>
         <div class="form-group">
            <label class="form-label">Название</label>
            {% if order.name %}
                <input placeholder="Введите название" disabled type="text" class="form-control" style="width: 250px" value="{{ order.name }}">
            {% else %}
                <input placeholder="Введите название" disabled type="text" class="form-control" style="width: 250px">
            {% endif %}
        </div>

         <div class="form-group">
            <label class="form-label">Описание</label>
            {% if order.description %}
                <input placeholder="Введите описание" disabled type="text" class="form-control" style="width: 250px" value="{{ order.description }}">
            {% else %}
                <input placeholder="Введите описание" disabled type="text" class="form-control" style="width: 250px">
            {% endif %}
        </div>

         <div class="form-group">
            <label class="form-label">Дата вступления в силу</label>
            {% if order.date %}
                <input placeholder="Введите дату" disabled type="text" class="form-control" style="width: 250px" value="{{ order.date }}">
            {% else %}
                <input placeholder="Введите дату" disabled type="text" class="form-control" style="width: 250px">
            {% endif %}
        </div>

        <form method="post" action="{% url 'delete_order' order.id %}">
            {% csrf_token %}
                <button class="btn btn-danger delete-draft-order-btn" type="submit">
                    Удалить
                </button>
            </a>
        </form>
        <h4 class="text-center">Подразделения</h4>
        <div class="cards-wrapper d-flex flex-column">
            {% for unit in order.get_units %}
                <div class="card w-100 mb5">
                     <div class="row g-0">
                        <div class="col-md-6 d-flex justify-center">
                            <img src="{{ unit.get_image }}">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">{{ unit.name }}</h5>
                                <p class="card-text">Телефон: {{ unit.phone }}</p>
                                <div class="form-group">
                                    <label class="form-label">Нужно совещание?</label>
                                    {% if unit.value %}
                                        <input placeholder="Введите количество" disabled type="text" class="form-control" style="width: 250px" value="Да">
                                    {% else %}
                                        <input placeholder="Введите количество" disabled type="text" class="form-control" style="width: 250px" value="Нет">
                                    {% endif %}
                                </div>
                                <a href="/units/{{ unit.id }}/" class="btn btn-primary" style="width: 100px">
                                    Открыть
                                </a>
                            </div>
                        </div>
                     </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}